* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 500px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  font-size: 3rem;
}

@media (max-width: 1200px) {
  h1 {
    font-size: calc(1.75rem + 1vw) !important;
  }
}

@media (max-width: 1200px) {
  h2 {
    font-size: calc(1.5rem + 1vw) !important;
  }
}

@media (max-width: 1200px) {
  h3 {
    font-size: calc(1.25rem + 1vw) !important;
  }
}

button {
  border: none;
  background-color: transparent;
}

.btn--primary {
  background-color: #ff7d1a;
  color: white;
  display: block;
  padding: 1.25rem 2.5rem;
  text-align: center;
  border-radius: 8px;
  font-weight: 700;
}

.btn--primary:hover {
  opacity: 0.5;
  -webkit-box-shadow: #ff7d1a 0px 3px 20px 0px;
          box-shadow: #ff7d1a 0px 3px 20px 0px;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lightbox.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .lightbox.active {
    display: none;
  }
}

.lightbox__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.lightbox__inner {
  position: absolute;
  top: 70px;
  max-width: 500px;
}

.lightbox__inner #closeLightboxBtn {
  margin-bottom: 0.75rem;
  float: right;
  cursor: pointer;
  z-index: 1;
}

.lightbox__inner #closeLightboxBtn i {
  font-size: 1.4rem;
}

.lightbox__inner #closeLightboxBtn i:before {
  color: #fff;
}

.lightbox__inner #closeLightboxBtn:hover i::before {
  color: #ff7d1a;
}

.lightbox__inner .lightbox__items {
  position: relative;
}

.lightbox__inner .lightbox__items .lightbox__item {
  width: 100%;
  display: none;
}

.lightbox__inner .lightbox__items .lightbox__item.active {
  display: block;
}

.lightbox__inner .lightbox__items .lightbox__item .lightbox__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.lightbox__inner .lightbox__items .lightbox__control {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.lightbox__inner .lightbox__items .lightbox__control button {
  background-color: #f7f8fd;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.lightbox__inner .lightbox__items .lightbox__control button svg {
  stroke: #1d2025;
}

.lightbox__inner .lightbox__items .lightbox__control button:hover svg {
  stroke: #ff7d1a;
}

.lightbox__inner .lightbox__items .lightbox__control #lightboxPrev {
  position: absolute;
  left: -1.5rem;
}

.lightbox__inner .lightbox__items .lightbox__control #lightboxPrev svg {
  margin-right: 0.3rem;
}

.lightbox__inner .lightbox__items .lightbox__control #lightboxNext {
  position: absolute;
  right: -1.5rem;
}

.lightbox__inner .lightbox__items .lightbox__control #lightboxNext svg {
  margin-left: 0.3rem;
}

.lightbox__inner .lightbox__thumbnails {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lightbox__inner .lightbox__thumbnails .lightbox__thumbnail {
  width: 20%;
  border-radius: 12px;
}

.lightbox__inner .lightbox__thumbnails .lightbox__thumbnail.active {
  border: 2px solid #ff7d1a;
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5);
}

.lightbox__inner .lightbox__thumbnails .lightbox__thumbnail.active .lightbox__thumbnail__image {
  opacity: 1;
}

.lightbox__inner .lightbox__thumbnails .lightbox__thumbnail__image {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.lightbox__inner .lightbox__thumbnails .lightbox__thumbnail:hover .lightbox__thumbnail__image {
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  border-bottom: 1px solid #b6bcc8;
  position: relative;
}

@media (max-width: 576px) {
  .navbar .container {
    height: 70px;
  }
}

.navbar .container .navbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container .navbar__left .toggle__btn {
  font-size: 1.25rem;
  margin-right: 1rem;
  display: none;
}

@media (max-width: 992px) {
  .navbar .container .navbar__left .toggle__btn {
    display: block;
  }
}

.navbar .container .navbar__left .navbar__brand {
  margin-right: 1.25rem;
}

@media (max-width: 576px) {
  .navbar .container .navbar__left .navbar__brand .logo {
    width: 100%;
  }
}

.navbar .container .navbar__left .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .navbar .container .navbar__left .nav__list {
    display: none;
  }
}

.navbar .container .navbar__left .nav__list .nav__item {
  height: 100%;
}

.navbar .container .navbar__left .nav__list .nav__item .nav__link {
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  color: #68707d;
  position: relative;
  display: block;
}

.navbar .container .navbar__left .nav__list .nav__item .nav__link:hover::after {
  content: "";
  position: absolute;
  background-color: #ff7d1a;
  bottom: -2.5rem;
  left: 0;
  width: 100%;
  height: 4px;
}

.navbar .container .navbar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container .navbar__right .cart {
  position: relative;
}

.navbar .container .navbar__right .cart .cart__button {
  cursor: pointer;
  padding: 2.25rem 0;
  position: relative;
}

.navbar .container .navbar__right .cart .cart__button .icon-icon-cart {
  font-size: 1.25rem;
}

.navbar .container .navbar__right .cart .cart__button .product__length {
  position: absolute;
  top: 30%;
  right: -0.5rem;
  display: inline-block;
  font-size: 0.6rem;
  background-color: #ff7d1a;
  color: white;
  width: 20px;
  height: 15px;
  border-radius: 12px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container .navbar__right .cart .cart__button .product__length.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .container .navbar__right .avatar {
  margin-left: 2.5rem;
}

@media (max-width: 768px) {
  .navbar .container .navbar__right .avatar {
    margin-left: 1rem;
  }
}

.navbar .container .navbar__right .avatar img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 576px) {
  .navbar .container .navbar__right .avatar img {
    width: 30px;
    height: 30px;
  }
}

.navbar .container .navbar__right .avatar img:hover {
  border-color: #ff7d1a;
}

.navbar .container .cart__modal {
  position: absolute;
  top: 80px;
  right: -5%;
  cursor: initial;
  background-color: white;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  z-index: 1;
  display: none;
}

@media (max-width: 1400px) {
  .navbar .container .cart__modal {
    right: 0;
    margin-right: 1.5rem;
  }
}

@media (max-width: 576px) {
  .navbar .container .cart__modal {
    top: 70px;
    left: 0;
    right: 0;
    margin-right: 0;
    border-radius: 0;
  }
}

.navbar .container .cart__modal .cart__header {
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid #b6bcc8;
}

.navbar .container .cart__modal .cart__header h6 {
  font-size: 1rem;
  color: #1d2025;
}

.navbar .container .cart__modal .cart__body {
  padding: 1.25rem 1.5rem;
}

.navbar .container .cart__modal .cart__body .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .container .cart__modal .cart__body__left .product__image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.navbar .container .cart__modal .cart__body__center {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.navbar .container .cart__modal .cart__body__center .product__name {
  color: #68707d;
}

.navbar .container .cart__modal .cart__body__center .product__price {
  display: block;
  margin-top: 0.25rem;
  color: #68707d;
}

.navbar .container .cart__modal .cart__body__center .product__price b {
  color: #1d2025;
}

.navbar .container .cart__modal .cart__body__right .delete__icon {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

.navbar .container .cart__modal .cart__body__right .delete__icon .icon-icon-delete {
  pointer-events: none;
}

.navbar .container .cart__modal .cart__body h4 {
  color: #68707d;
  padding: 1.5rem 4rem;
  font-size: 500;
}

@media (max-width: 576px) {
  .navbar .container .cart__modal .cart__body h4 {
    text-align: left;
    padding: 0;
  }
}

.navbar .container .cart__modal .cart__footer {
  padding: 0rem 1.5rem 1.25rem;
}

.mobile__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: white;
  padding-top: 1.5rem;
  z-index: 2;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: none;
}

@media (max-width: 992px) {
  .mobile__navbar {
    display: block;
  }
}

.mobile__navbar.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.mobile__navbar .nav__list {
  padding-top: 2.5rem;
}

.mobile__navbar .nav__list .nav__item {
  margin: 0.75rem 0;
}

.mobile__navbar .nav__list .nav__item .nav__link {
  color: #1d2025;
  font-weight: 600;
}

.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 2;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 992px) {
  .menu__overlay {
    display: block;
  }
}

.menu__overlay.active {
  opacity: 1;
  visibility: visible;
}

.product__detail__section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .product__detail__section {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 576px) {
  .product__detail__section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.product__detail__section .container .product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
  width: 100%;
}

@media (max-width: 992px) {
  .product__detail__section .container .product__row {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .product__detail__section .container .product__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product__detail__section .container .product__row .product__left {
  width: 48%;
}

@media (max-width: 768px) {
  .product__detail__section .container .product__row .product__left {
    width: 100%;
  }
}

.product__detail__section .container .product__row .product__left .product__feature .feature__image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  cursor: pointer;
}

.product__detail__section .container .product__row .product__left .product__thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.product__detail__section .container .product__row .product__left .product__thumbnails .thumbnail {
  width: 20%;
  border-radius: 12px;
}

.product__detail__section .container .product__row .product__left .product__thumbnails .thumbnail:hover .thumbnail-image {
  opacity: 0.5;
}

.product__detail__section .container .product__row .product__left .product__thumbnails .thumbnail__image {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.product__detail__section .container .product__row .product__left .product__thumbnails .thumbnail.active {
  border: 2px solid #ff7d1a;
}

.product__detail__section .container .product__row .product__left .product__thumbnails .thumbnail.active .thumbnail__image {
  opacity: 0.5;
}

.product__detail__section .container .product__row .product__right {
  width: 48%;
}

@media (max-width: 768px) {
  .product__detail__section .container .product__row .product__right {
    width: 100%;
    margin-top: 2rem;
  }
}

.product__detail__section .container .product__row .product__right .product__header .product__company {
  color: #ff7d1a;
  font-weight: 600;
  font-size: 1rem;
}

.product__detail__section .container .product__row .product__right .product__header .product__name {
  font-size: 3rem;
  color: #1d2025;
  line-height: 1;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
}

.product__detail__section .container .product__row .product__right .product__header .product__description {
  color: #68707d;
  line-height: 1.5;
  margin-bottom: 2rem;
}

@media (max-width: 576px) {
  .product__detail__section .container .product__row .product__right .product__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__detail__section .container .product__row .product__right .product__body .product__price__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__detail__section .container .product__row .product__right .product__body .product__price__top .new__price {
  font-size: 2rem;
  display: inline-block;
}

.product__detail__section .container .product__row .product__right .product__body .product__price__top .discount__rate {
  display: inline-block;
  background-color: #ffede0;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  color: #ff7d1a;
  font-weight: 600;
  margin-left: 1rem;
}

.product__detail__section .container .product__row .product__right .product__body .product__price__bottom .old__price {
  position: relative;
  display: inline-block;
  margin-top: 0.5rem;
  color: #b6bcc8;
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 576px) {
  .product__detail__section .container .product__row .product__right .product__body .product__price__bottom .old__price {
    margin-top: 0;
  }
}

.product__detail__section .container .product__row .product__right .product__body .product__price__bottom .old__price::after {
  content: "";
  position: absolute;
  bottom: 0.6rem;
  left: 0;
  width: 100%;
  background-color: #b6bcc8;
  height: 2px;
}

.product__detail__section .container .product__row .product__right .product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

@media (max-width: 576px) {
  .product__detail__section .container .product__row .product__right .product__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product__detail__section .container .product__row .product__right .product__footer .product__quantity {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1rem;
}

@media (max-width: 576px) {
  .product__detail__section .container .product__row .product__right .product__footer .product__quantity {
    width: 100%;
    margin-right: 0;
  }
}

.product__detail__section .container .product__row .product__right .product__footer .product__quantity button {
  cursor: pointer;
  background-color: #f7f8fd;
  width: 55px;
  padding: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .product__detail__section .container .product__row .product__right .product__footer .product__quantity button {
    width: 25%;
  }
}

.product__detail__section .container .product__row .product__right .product__footer .product__quantity button:hover {
  background-color: #ff7d1a;
}

.product__detail__section .container .product__row .product__right .product__footer .product__quantity button:hover svg use {
  fill: #f7f8fd !important;
}

.product__detail__section .container .product__row .product__right .product__footer .product__quantity #increaseBtn {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.product__detail__section .container .product__row .product__right .product__footer .product__quantity .quantity__input {
  background-color: #f7f8fd;
  border: none;
  margin: 0;
  padding: 0;
  min-width: 55px;
  text-align: center;
  outline: none;
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 576px) {
  .product__detail__section .container .product__row .product__right .product__footer .product__quantity .quantity__input {
    width: 50%;
  }
}

.product__detail__section .container .product__row .product__right .product__footer .product__quantity #decreaseBtn {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.product__detail__section .container .product__row .product__right .product__footer #addCartBtn {
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 576px) {
  .product__detail__section .container .product__row .product__right .product__footer #addCartBtn {
    width: 100%;
    margin-top: 1rem;
  }
}

.product__detail__section .container .product__row .product__right .product__footer #addCartBtn span {
  pointer-events: none;
}

.product__detail__section .container .product__row .product__right .product__footer #addCartBtn i {
  pointer-events: none;
}

.product__detail__section .container .product__row .product__right .product__footer #addCartBtn i:before {
  color: white;
}
/*# sourceMappingURL=main.css.map */