h1 {
    font-size: 3rem;
    @media (max-width:1200px){
        font-size: calc(1.75rem + 1vw) !important;
    }
}
h2 {
    @media (max-width:1200px){
        font-size: calc(1.5rem + 1vw) !important;
    } 
}

h3 {
    @media (max-width:1200px){
        font-size: calc(1.25rem + 1vw) !important;
    }
}
